@page
@model razor2.Pages.Portfolios.Details

@{
    Layout = null;
    ViewBag.Title = "Portfolio Details";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>@ViewBag.Title</h1>
</div>
</body>
</html>