@page "{id}"
@model razor2.Pages.about
@addTagHelper *, Microsoft.aspnetcore.mvc.taghelpers
@using razor2.Models
@using razor2.Services
@inject PortfolioServiceJsonFile PortfolioServiceJsonFile
@using razor2.Components
 
@{
    Layout = "Shared/_Layout";
    string dog = "Golden doodle";
    var id = int.Parse((string)RouteData.Values["id"]);
    // List<Portfolio> portfolios = new List<Portfolio>()
    // {
    //     new Portfolio {Id = 1, Title = "Yes", Description = "Crawl", Image = "https://"},
    //     new Portfolio {Id = 2, Title = "North", Description = "Crawl", Image = "https://"}
    // };

    var portfolios = PortfolioServiceJsonFile.GetPortfolios();

}

<!DOCTYPE html>

<html>
<head>
    <title>Blog details - @id</title>
</head>
<body>
<div>
@{if(User.Identity.IsAuthenticated)  
    {<h1>이예라를 이겨라 1, 2, 3! @dog</h1>}
    else{}
}  
<component type="typeof(PortfolioList)" render-mode="ServerPrerendered"/>
<script src="_framework/blazor.server.js"></script>

</div>
</body> 
</html> 